{% load filters %}

{% with assigned_reward=cart|gamerewards:game.id %}

<div class="game-panel">
	<div class="panel panel-info">

		{% include 'includes/game_panel/heading.html' %}

		<div class="panel-body">

			<div class="game-image">
				<img src="{{ game.image.url }}" class="img-thumbnail img-responsive game-image" />
			</div>

			<div class="game-info">
				<h5 class="text-left">{{ game.one_line_description }}</h5>

				{% if show_price %}

					<h3>Price: <span class="label label-default price">HK$ {{ game.price }}</span></h3>
					<h3>Discount: <span class="label label-default price" id="discount-value-{{ game.id }}">HK$ {{ game.price|discount:assigned_reward }}</span></h3>
					<div class="divider"></div>
					<div class="subtotal-row">

						<div class="pull-left-flex">
							{% include "includes/tag_list.html" with tags=game.get_sorted_tags slice="5" %}
						</div>

						{% if show_reward_select %}
							{% include 'includes/reward_select.html' %}
						{% endif %}

						<h3>Subtotal: <span class="label label-info price" id="subtotal-value-{{ game.id }}">HK$ {{ game.price|subtotal:assigned_reward }}</span></h3>

					</div>

				{% endif %}

			</div>

		</div>
	</div>
</div>

{% endwith %}