<div class="panel-heading">
	<div class="row-center">

		<h3 class="panel-title">
			<a href="{% url 'game' game.genre.id game.id %}">{{ game.title }}</a>
			{% if show_genre %}
				<a href="{% url 'genre' game.genre.id %}"><span class="badge">{{ game.genre.genre_name }}</span></a>
			{% endif %}
		</h3>
		{% include 'includes/platform_icons.html' %}

	</div>

	{% if user.is_authenticated and show_purchase %}
		{% if game in user.profile.get_purchased_games %}
			<h5 class="pull-right-flex">Purchased</h5>
		{% elif game in user.profile.get_active_cart.games.all %}
			<h5 class="pull-right-flex">In Cart</h5>
		{% endif %}
	{% endif %}
	
	{% if show_purchase_date %}
		<h5 class="pull-right-flex">Purchased on {{ cart.payment.paid_date }}</h5>
	{% endif %}

</div>