a.no-cursor-link {
	cursor: default;
}

img.game-image {
	max-width: 100%;
	max-height: 400px
}

.divider {
	margin: 5px;
	height: 1px;
	width: 100%;
	border-bottom: 1px solid #c0c0c0;
}

/* Header */ 
.navbar-default {
	background-color: rgb(0,169,230);
	height: 60px;
	
}


#logo{
	margin-top:-5px;
	width: 500px;
	height: 40px;
}

/* Search Bar */
.navbar-form.navbar-left{
	margin-right: 200px;
	margin-top:15px;

}

.form-control{	/*input field*/
  height: 30px;
  font-size: 11px;
}

.btn-default{	/*submit button*/
	height: 30px;
	font-size: 11px;
}

/*right navbar*/ 
.nav.navbar-nav.navbar-right{
	margin-top: -6px;
}
.nav.navbar-nav.navbar-right li a{
	 color: black;
}
