a.no-cursor-link {
	cursor: default;
}

img.game-image {
	max-width: 100%;
	max-height: 400px
}

.divider {
	margin: 5px;
	height: 1px;
	width: 100%;
	border-bottom: 1px solid #c0c0c0;
}

.navbar-default {
	background-color: rgb(0,169,230);
	height: 80px;
	
}

