a.no-cursor-link {
	cursor: default;
}

img.game-image-sm {
	max-width: 100%;
	max-height: 200px
}

img.game-image {
	max-width: 100%;
	max-height: 400px
}

.divider {
	margin: 5px;
	height: 1px;
	width: 100%;
	border-bottom: 1px solid #c0c0c0;
}

.platform-logo-md {
	width: 60px;
	height: 60px;
	padding: 10px;
	background-color: #01579B;
	border-radius: 30px;
	margin-left: 10px;
}

.platform-logo-sm {
	width: 36px;
	height: 36px;
	padding: 3px;
	background-color: #2196F3;
	border-radius: 18px;
	margin-left: 10px;
}

.row-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row-center.space-between, .row-end.space-between, .row-start.space-between {
	justify-content: space-between;
}

.row-center.margin-between>*, .row-end.margin-between>*, .row-start.margin-between>* {
	margin: 0 5px;
}

.row-end {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.row-start {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.pull-left-flex {
	margin-right: auto;
}

.pull-right-flex {
	margin-left: auto;
}

.bottom-right-corner {
	right: 10px;
	bottom: 10px;
	position: absolute;
}

.page-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.tag {
	margin: 5px;
}

.badge-small {
	font-size: 0.8em !important;
}

/* Header */ 
.navbar {
	border: 0px;
	border-radius: 0;
}

.navbar-default {
	background-color: rgb(0, 169, 230);
}

.navbar-brand {
	padding: 5px;
}

#logo{
	height: 100%;
}

#info-bar>li>a {
	color: white;
	font-family: 'Audiowide', cursive;
}

#info-bar>.open>a {
	background-color: rgb(73, 151, 208);
}

#account {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: -15px;
}

#account img {
	width: 30px;
	height: 30px;
	margin-left: 5px;
}

/* Game panel */

.game-panel .game-image img {
	max-width: 400px;
	max-height: 200px
}

.game-panel .panel-heading {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.game-panel .panel-title {
	display: flex;
	align-items: center;
}

.game-panel .panel-title span.badge {
	margin-left: 5px;
	font-size: 1em;
}

.game-panel .panel-body {
	display: flex;
	flex-direction: row;
	padding: 20px 30px;
}

.game-panel .game-info {
	width: 100%;
	text-align: right;
	align-self: flex-end;
	padding: 0 20px;
}

.game-panel .select-reward {
	width: auto;
	margin: 15px 0 10px;
}

.game-panel .subtotal-row, .game-panel .rewards-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.game-panel .rewards-wrapper {
	margin-right: 10px;
}

.game-panel span.price {
}

.game-panel .panel-body {
	position: relative;
}

.game-panel .panel-body h3 {
	margin: 24px 0;
}

/* Tags */
.tags {

}

.tags div {
	display: inline-block;
	margin: 3px 0;
}

.tags div button {
	margin: 3px 0;
}