a.no-cursor-link {
	cursor: default;
}

img.game-image {
	max-width: 100%;
	max-height: 400px
}

.divider {
	margin: 5px;
	height: 1px;
	width: 100%;
	border-bottom: 1px solid #c0c0c0;
}

/* Header */ 
.navbar {
	border: 0px;
	border-radius: 0;
}

.navbar-default {
	background-color: rgb(0, 169, 230);
}

.navbar-brand {
	padding: 5px;
}

#logo{
	height: 100%;
}

#info-bar>li>a {
	color: white;
	font-family: 'Audiowide', cursive;
}

#info-bar>.open>a {
	background-color: rgba(13, 71, 161, 0.4);
}

#account {
	padding-top: 10px;
	padding-bottom: 10px;
}

#account img {
	width: 30px;
	height: 30px;
	margin-left: 5px;
}

