{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{% static 'lib/css/bootstrap-social.css' %}">
	<link rel="stylesheet" href="{% static 'lib/css/font-awesome.min.css' %}">
{% endblock %}

{% block content %}

{% with form_name="login" %}

	<div class="container-fluid page">

		{% include "includes/form/form_header.html" with title="Login" %}

		<div class="form-content">

			{% include "includes/form/form_content.html" %}

			<p class="text-center">
				<button type="submit" class="btn btn-primary" form="{{ form_name }}-form">Login</button>
				<a href="{% url 'register' %}" type="button" class="btn btn-default">Register</a>
			</p>

			<p class="text-center"><a href="{% url 'password_reset' %}">Lost password?</a></p>

			<p class="text-center">
				<a href="{% url 'social:begin' 'github' %}" class="btn btn-social btn-github">
					<span class="fa fa-github"></span>Login with GitHub
				</a>
			</p>
			<p class="text-center">
				<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-social btn-facebook">
					<span class="fa fa-facebook"></span>Login with Facebook
				</a>
			</p>

		</div>

	</div>
{% endwith %}

{% endblock %}
