{% extends 'base.html' %}

{% block content %}

{% with form_name="register" %}

    <div class="container-fluid page">

        {% include "includes/form/form_header.html" with title="Registration" %}

        <div class="form-content">

            {% include 'includes/form/form_content.html' %}

            <p class="text-center">
                <button type="submit" class="btn btn-primary" form="register-form">Sign Up!</button>
                <a href="{% url 'login' %}" type="button" class="btn btn-default">Login</a>
            </p>

        </div>
        
    </div>

{% endwith %}

{% endblock %}