<div class="game-panel">
	<div class="panel panel-info">

		<div class="panel-heading">

			<div class="row-center">

				<h3 class="panel-title">
					<a href="{% url 'game' game.genre.id game.id %}">{{ game.title }}</a>
					<a href="{% url 'genre' game.genre.id %}"><span class="badge">{{ game.genre.genre_name }}</span></a>
				</h3>
				{% include 'includes/platform_icons.html' %}

			</div>

			{% if show_purchase_date %}
				<h5>Purchased on {{ cart.payment.paid_date }}</h5>
			{% endif %}

		</div>

		<div class="panel-body">

			<div class="game-image">
				<img src="{{ game.image.url }}" class="img-thumbnail img-responsive game-image" />
			</div>

			<div class="game-info">
				<h5 class="text-left">{{ game.one_line_description }}</h5>

				{% if show_price %}

					<h3>Price: <span class="label label-default price">HK$ {{ game.price }}</span></h3>
					<h3>Discount: <span class="label label-default price" id="discount-value-{{ game.id }}">HK$ 0</span></h3>
					<div class="divider"></div>
					<div class="subtotal-row">

						{% if show_reward_select %}
							{% include 'includes/reward_select.html' %}
						{% endif %}

						<h3>Subtotal: <span class="label label-info price" id="subtotal-value-{{ game.id }}">HK$ {{ game.price }}</span></h3>

					</div>

				{% endif %}

			</div>

		</div>
	</div>
</div>