{% load static %}

<nav id="nav-bar" class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'homepage' %}">
				<img src="{% static 'img/logos/FCP-logo.png' %}" id="logo">
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<form class="navbar-form navbar-left" id="search-form" action="{% url 'tagged_games' 'TAG_NAME' %}">
				<div class="form-group">
					<input id="search-tag" type="text" class="form-control" placeholder="Search Tag">
				</div>
				<button type="submit" class="btn btn-default">Search</button>
			</form>

			{% if user.is_authenticated %}
				{% include "includes/header_profile.html" %}
			{% else %}
				<ul class="nav navbar-nav navbar-right info-bar" id="login-info-bar">
					<li><a href="{% url 'login' %}">Login</a></li>
					<li><a href="{% url 'register' %}">Register</a></li>
				</ul>
			{% endif %}

		</div>
	</div>
</nav>
