{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %}Payment{% endblock %}
{% block children_css %}<link rel="stylesheet" href="{% static 'css/payment.css' %}">{% endblock %}

{% block content %}

{% with form_name="payment" %}

<div id="{{ form_name }}-page" class="container-fluid page">

	{% include 'includes/form/form_header.html' with title="Payment" %}

	<div class="form-content">

		{% include 'includes/form/form_content.html' %}

		<div class="row-center space-between">
			<h3>Total: <span class="label label-success price" id="total-value">HK$ {{ cart.get_total_str }}</span></h3>
			<button type="submit" class="btn btn-primary" form="{{ form_name }}-form">Pay</button>
		</div>
	</div>

</div>

{% endwith %}

{% endblock %}
