{% extends "core/profile_base.html" %}

{% block children_content %}

{% with profile=userprofile %}

	<form id="profile-form" method="post" enctype="multipart/form-data">{% csrf_token %}

		<div class="form-group">
			<label class="control-label">Username</label>
			<p class="form-control-static">{{ user.username }}</p>
		</div>

		<div class="form-group">
			<label class="control-label">Email Address</label>
			<p class="form-control-static">{{ user.email }}</p>
		</div>

		<div class="form-group">
			<label class="control-label">On Screen Name</label>
			<p class="form-control-static">{{ profile.on_screen_name }}</p>
		</div>

		<div id="avatar-input" class="form-group row-center margin-between">
			<label class="control-label">Avatar Image</label>
			<img id="preview-avatar" src="{{ profile.avatar_image.url }}"/>
		</div>

		<div class="form-group">
			<label class="control-label">Accumulated Spending</label>
			<p class="form-control-static">{{ profile.accumulated_spending }}</p>
		</div>

		<div class="form-group">
			<label class="control-label">Spending Required To Obtain Next Rewards</label>
			<p class="form-control-static">{{ profile.spending_required }}</p>
		</div>

		<div class="form-group">
			<label class="control-label">Total Number of Rewards</label>
			{% if total_number_of_rewards %}
				<p>{{ total_number_of_rewards }}</p>
			{% else %}
				<p>You currently don't have any rewards!</p>
			{% endif %}
		</div>

		{% for batch in rewards_batches %}
		<div class="form-group">
			<label class="contro-label">Rewards Batch {{ forloop.counter }}</label>
				<div class="form-group">
					<label class="contro-label">Value</label>
						<p class="form-control-static">{{ batch.value }}</p>
				</div>
				<div class="form-group">
					<label class="contro-label">Issue Date</label>
						<p class="form-control-static">{{ batch.issue_date }}</p>
				</div>
				<div class="form-group">
					<label class="contro-label">Expiration Date</label>
						<p class="form-control-static">{{ batch.expiration_date }}</p>
				</div>
		</div>
		{% endfor %}

	</form>

{% endwith %}

{% endblock %}
