{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %}Purchase History{% endblock %}
{% block children_css %}<link rel="stylesheet" href="{% static 'css/purchase_history.css' %}">{% endblock %}

{% block content %}

<div id="purchase-history" class="container-fluid">
	
	<div id="purchase-history-info-header">	

		{% include "includes/breadcrumb.html" with layers=layers %}

		<div class="page-header">
			<h3>My Purchase History</h3>
		</div>
	</div>

	{% for record_group in records %}
		<div class="row">

			{% for record in record_group %}

				<div class="col-md-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title"><a href="{% url 'game' record.game.genre.id record.game.id %}">{{ record.game.title }}</a></h3>
						</div>
					</div>
				</div>

			{% endfor %}

		</div>
	{% endfor %}

</div>

{% endblock %}
