<div class="col-md-{{ span }} review-panel">
	<div class="panel panel-info">

		<div class="panel-heading">
			<div class="row-center">
				<h3 class="panel-title">{{ review.header }}</h3>
			</div>
		</div>

		<div class="panel-body">

			<div class="row-start space-between margin-between">
				<div>
					{{ review.content }}
				</div>
			</div>	
		</div>

		<div class="panel-footer row-center">
			<small>Posted by <span class="review-username">{{ review.user.username }}</span> at <span class="review-issue-date">{{ review.issue_date }}</span></small>

			{% if user.is_authenticated and user == review.user %}
				<div class="pull-right-flex row-center margin-between">
					<small><a href="{% url 'edit_review' game.genre.id game.id review.id %}">Edit</a></small>
					<small><a href="{% url 'delete_review' game.genre.id game.id review.id %}">Delete</a></small>
				</div>
			{% endif %}

		</div>

	</div>
</div>