{% extends 'base.html' %}

{% block title %}Edit Review{% endblock %}

{% block content %}

{% with form_name="edit-review" %}

<div id="{{ form_name }}-page" class="container-fluid page">
    
    <div id="{{ form_name }}-info-header">   
        {% include "includes/breadcrumb.html" with layers=layers %}

        <div class="page-header">
            <h3>Edit Review</h3>
            <a href="{% url 'delete_review' game.genre.id game.id review.id %}" class="btn btn-danger pull-right">Delete</a>
        </div>
    </div>

    <div class="form-content">
        {% include 'includes/form/form_content.html' %}

        <p class="text-center">
            <button type="submit" class="btn btn-primary" form="{{ form_name }}-form">Post</button>
            <a href="{% url 'reviews' genre_id=game.genre.id game_id=game.id %}" type="button" class="btn btn-default">Cancel</a>
        </p>
    </div>
</div>

{% endwith %}

{% endblock %}