{% extends 'game/base.html' %}
{% load staticfiles %}

{% block title %}Game - {{ game.title }}{% endblock %}
{% block children_css %}<link rel="stylesheet" href="{% static 'css/game.css' %}">{% endblock %}
{% block children_js %}<script src="{% static 'js/game.js' %}"></script>{% endblock %}

{% block content %}

<div id="game-page" class="container-fluid page">
	
	<div id="game-info-header">	

		{% include "includes/breadcrumb.html" with layers=layers %}

		<div class="page-header">
			<div class="row-center">
				<h3>{{ game.title }}</h3>
				{% include 'includes/platform_icons.html' %}
			</div>
			<div id="add-to-cart" class="row-center">
				<h3><small>Buy <span class="game-name">{{ game.title }}</span> at <span class="label label-info price">HK$ {{ game.price }}</span></small></h3>

				{% if not user.is_authenticated %}
					<a class="btn btn-default btn-md" role="button" href="{% url 'login' %}">Login to purchase
				{% elif game in user.profile.get_purchased_games %}
					<a class="btn btn-default btn-md disabled" role="button" href="{% url 'add_to_cart' game.genre_id game.id %}">Thanks for purchasing!
				{% elif game in user.profile.get_active_cart.games.all %}
					<a class="btn btn-default btn-md disabled" role="button" href="{% url 'add_to_cart' game.genre_id game.id %}">Added to Cart
				{% else %}
					<a class="btn btn-default btn-md" role="button" href="{% url 'add_to_cart' game.genre_id game.id %}">Add to Cart
				{% endif %}

				</a>
			</div>
		</div>
	</div>

	<div class="row row-center content-center">

		<div class="col-md-6">
			<div id="game-info-left">	

				<div id="game-image">
					<img src="{{ game.image.url }}" class="img-thumbnail img-responsive center-block game-image" />
				</div>

			</div>
		</div>

		<div class="col-md-6">
			<div id="game-info-right">

				<div class="well">
					<p>{{ game.full_description }}</p>
				</div>

				{% include "includes/tag_list.html" with tags=game.get_sorted_tags slice="10" show_form=True %}

				<div>
					<a class="btn btn-success btn-md btn-block" role="button" href="{% url 'reviews' game.genre_id game.id %}">Reviews</a>
				</div>

			</div>
		</div>

	</div>

</div>

{% endblock %}
