{% extends 'game/base.html' %}
{% load staticfiles %}

{% block title %}Game - {{ game.title }}{% endblock %}
{% block children_css %}<link rel="stylesheet" href="{% static 'css/game.css' %}">{% endblock %}

{% block content %}

<div id="game-page" class="container-fluid">
	
	<div id="game-info-header">	

		{% include "includes/breadcrumb.html" with layers=layers %}

		<div class="page-header">
			<h3>{{ game.title }}</h3>
			<div id="add-to-cart" >
				<h3><small>Buy <span class="game-name">{{ game.title }}</span> at <span class="label label-info price">HK$ {{ game.price }}</span></small></h3>
				{% if game in cart.game.all %}
					<a class="btn btn-default btn-md disabled" role="button" href="{% url 'add_to_cart' game.genre_id game.id %}">
				{% else %}
					<a class="btn btn-default btn-md" role="button" href="{% url 'add_to_cart' game.genre_id game.id %}">
				{% endif %}
				Add to Cart
				</a>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-md-6">
			<div id="game-info">	
				<div id="game-image">
					<img src="{{ game.image.url }}" class="img-thumbnail img-responsive center-block" />
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div id="tags">
				<form action="/tag/add/" method="post">
				    {% csrf_token %} New Tag Name:
				    <input type="text" name="tag name" value="">

				    <input type="submit" value="Submit Tag" />
				</form>
			</div>
		</div>

	</div>
</div>

{% endblock %}
