{% extends 'game/base.html' %}
{% load staticfiles %}

{% block title %}Genre - {{ genre.genre_name }}{% endblock %}
{% block children_css %}<link rel="stylesheet" href="{% static 'css/genre.css' %}">{% endblock %}

{% block content %}

<div id="genre-page" class="container-fluid">
	
	<div id="genre-info-header">	

		{% include "includes/breadcrumb.html" with layers=layers %}

		<div class="page-header">
			<h3>{{ genre.genre_name }}</h3>
		</div>
	</div>

	{% for game_group in games %}
		<div class="row">

			{% for game in game_group %}

				<div class="col-md-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title"><a href="{% url 'game' game.genre.id game.id %}">{{ game.title }}</a></h3>
						</div>
						<div class="panel-body">
							<div id="game-image">
								<img src="{{ game.image.url }}" class="img-thumbnail img-responsive center-block game-image" />
							</div>
						</div>
						<div class="panel-footer">{{ game.one_line_description }}</div>
					</div>
				</div>

			{% endfor %}

		</div>
	{% endfor %}

</div>

{% endblock %}
