{% extends 'game/base.html' %}
{% load staticfiles %}
{% load filters %}

{% block title %}Tag - {{ tag.name }}{% endblock %}
{% block children_css %}<link rel="stylesheet" href="{% static 'css/tag.css' %}">{% endblock %}

{% block content %}

<div id="tag-page" class="container-fluid page">
	
	<div id="tag-info-header">	
		{% include "includes/breadcrumb.html" with layers=layers %}

		<div class="page-header">
			<h3>{{ name }}</h3>
			{% include 'includes/filter_form.html' %}
		</div>
	</div>

	{% for game in games %}
		<div class="row">
			{% include 'includes/game_panel/game_panel_span.html' with span="10" show_purchase=True show_genre=True show_release_date=True %}
		</div>
	{% endfor %}


</div>

{% endblock %}
