/* header */

#cart-info-header .page-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* total-price */

#total-price {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 50px;
}

#total-price .btn {
	margin: 10px 0;
}

#total-price span.price {
	font-size: 1.1em;
}

#total-price h3 {
	margin: 10px 0;
}